body {
background-color: white;
font-size: 1.2rem;
font-family: sans-serif;
color: #000000;
display: block;
height:100%;
}

header {
background-color: #222;
color: #FFFFFF;
width:100%;
padding: 60px 0px;
}

h1
{
text-align: center;
}

h2{
padding-left: 30px;
}

p {
padding-left: 30px;
padding-right: 30px;
}

#diagrammsd 
{
width:700px;
height: 700px;
margin-left: 250px;
}

#diagrammsh 
{
width:700px;
height: 700px;
margin-left: 250px;
}

#buttonsd {
margin-left: 450px;    
}

#tabelle {
border-collapse: collapse;
display:flex;
align-items: center;
padding-left: 220px;
}

td {text-align:center;}

.ueberschrift {
padding-right: 10%;
padding-left: 10%
}

.zentriert {
text-align: center;}

footer {
width: 100%;
background-color: #222;
color: #FFFFFF;
padding: 10px 0px;
}

img {
display:block;
margin-left:auto;
margin-right:auto;
}